<div class="publication-summary">
  {% assign publication_summary = site.publication_summary | reverse %}
  {% assign publication_summary_size = publication_summary | size %}
  <h2>summary</h2>
  {% if publication_summary_size > 0 %}
    <div
      class="table-responsive"
      {% if publication_summary_size > 3 %}
        style="max-height: 6rem"
      {% endif %}
    >
      <table class="table table-sm table-borderless">
        {% for item in publication_summary %}
          <tr>
            <th scope="row">{{ item.date | date: '%b %Y' }}</th>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                {{ item.content }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No publication summary yet...</p>
  {% endif %}
</div>
